<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuni.sunway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunWay"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".IncomeActivity"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"/>
        <activity
            android:name=".NoInternetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar" />
        <activity
            android:name=".ReferCodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar" />
        <activity
            android:name=".SignUpActivityForGoogle"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".UpdateProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PayToJoinActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".TaskViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:theme="@style/Theme.SunWay.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:label="User Info"
            android:theme="@style/Theme.SunWay.NoActionBar.Material"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GetOTPActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="false"
            android:label="Send OTP" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:theme="@style/Theme.SunWay.NoActionBar.Material.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:theme="@style/Theme.SunWay.NoActionBar.Material" />
    </application>

</manifest>